---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

const projects = [
	{
		image: "https://placehold.co/1200x400",
		title: "[000] 101 Proyectos",
		description: "La página de los 101 proyectos de Daniel H. Alcojor (sí, esta misma que estás visitando ahora mismo).",
		tags: ["astro", "learning in public"],
		repoUrl: "https://github.com/dhAlcojor/101-projects",
		demoUrl: "https://dhalcojor.github.io/101-projects/",
	},
]
---

<Layout title="101 Proyectos de Daniel H. Alcojor">
	<main>
		<h1 class="text-5xl font-bold text-center mb-8">
			Te doy la bienvenida a<br />
			<span class="text-gradient">101 Proyectos</span>
		</h1>
		<p class="description mb-4 border-2 border-accent p-3 rounded-lg md:max-w-[67%] mx-auto bg-accent-dark">
			<strong>101 Proyectos</strong> es un repositorio de proyectos de código abierto para aprender y compartir con la comunidad.
		</p>
		<ul role="list" class="grid grid-cols-1 md:max-w-[67%] mt-8 p-0 mx-auto">
			{projects.map((project) => (
				<Card
					className="xl:col-start-2"
					image={project.image}
					title={project.title}
					body={project.description}
					tags={project.tags}
					repoUrl={project.repoUrl}
					demoUrl={project.demoUrl}
				/>
			))}
		</ul>
	</main>
</Layout>
<style>
	.description code {
		@apply text-lg font-bold text-primary-light rounded-md px-2 py-1 bg-primary-dark;
	}
	.description strong {
		@apply text-accent;
	}
</style>
