---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

const projects = [
	{
		image: "/img/000-101-projects.webp",
		title: "[000] 101 Proyectos",
		description: "La página de los 101 proyectos (sí, esta misma que estás visitando ahora).",
		tags: ["astro", "learning in public"],
		repoUrl: "https://github.com/dhAlcojor/101-projects",
		demoUrl: "https://101-projects.alcojor.dev",
	},
	{
		image: "/img/001-comic-fight.webp",
		title: "[001] Comic Fight",
		description: "Simulador de peleas con personajes de cómics.",
		tags: ["angular18", "typescript", "tailwindcss"],
		repoUrl: "https://github.com/dhAlcojor/comic-fight",
		demoUrl: "https://comic-fight.alcojor.dev",
	}
]
---
<Layout title="101 Proyectos de Daniel H. Alcojor">
	<main>
		<h2 class="text-3xl md:text-5xl font-bold text-center mb-8">
			Te doy la bienvenida a<br />
			<span class="text-gradient"><code>101</code> Proyectos</span>
		</h2>
		<p class="description mb-4 border-2 border-accent p-3 rounded-lg md:max-w-[67%] mx-auto bg-accent-dark">
			<strong>101 Proyectos</strong> es un repositorio de proyectos de código abierto para aprender y compartir con la comunidad.
		</p>
		<ul role="list" class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-8 p-0 mx-auto">
			{projects.reverse().map((project) => (
				<Card
					image={project.image}
					title={project.title}
					body={project.description}
					tags={project.tags}
					repoUrl={project.repoUrl}
					demoUrl={project.demoUrl}
				/>
			))}
		</ul>
	</main>
</Layout>
<style>
	.description code {
		@apply text-lg font-bold text-primary-light rounded-md px-2 py-1 bg-primary-dark;
	}
	.description strong {
		@apply text-primary-light;
	}
</style>
