---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

const projects = [
	{
		image: "https://placehold.co/1200x400",
		title: "[000] 101 Proyectos",
		href: "/projects/001-101-projects",
		description: "La página de los 101 proyectos de Daniel H. Alcojor (sí, esta misma que estás visitando ahora mismo).",
		tags: ["astro", "learning in public"],
	},
]
---

<Layout title="101 Proyectos de Daniel H. Alcojor">
	<main>
		<h1>Te doy la bienvenida a <p class="text-gradient">101 Proyectos</p></h1>
		<p class="description">
			<strong>101 Proyectos</strong> es un repositorio de proyectos de código abierto para aprender y compartir con la comunidad.
		</p>
		<ul role="list" class="link-card-grid">
			{projects.map((project, index) => (
				<Card
					className="md:col-start-2"
					key={index}
					image={project.image}
					href={project.href}
					title={project.title}
					body={project.description}
					tags={project.tags}
				/>
			))}
		</ul>
	</main>
</Layout>

<style>
	h1 {
		@apply text-5xl font-bold text-center mb-8;
	}
	.description {
		@apply mb-4 border-2 border-accent p-3 rounded-lg lg:max-w-[67%] mx-auto bg-accent-dark;
	}
	.description code {
		@apply text-lg font-bold text-primary-light rounded-md px-2 py-1 bg-primary-dark;
	}
	.description strong {
		@apply text-accent;
	}
	.link-card-grid {
		@apply grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 mt-8 p-0 mx-auto;
	}
</style>
