---
interface Props {
	image: string;
	title: string;
	body: string;
	href: string;
	tags: string[];
	className?: string;
}

const { href, title, body, tags, className, image } = Astro.props;
---

<li class=`link-card ${className || ''}`>
	<a href={href}>
		<img src={image} alt={title} />
		<div class="card-content">
			<h2>
				{title}
				<span>&rarr;</span>
			</h2>
			<p>
				{body}
			</p>
			<ul class="tags">
				{tags.map((tag) => (
						<li class="tag">{tag}</li>
				))}
			</ul>
		</div>
	</a>
</li>
<style>
	h2 {
		@apply m-0 text-2xl;
	}
	p {
		@apply my-4;
	}
	.link-card {
		@apply list-none flex flex-col gap-4 rounded-md;

		> a {
			@apply w-full decoration-0 text-white rounded-md;
			background-color: #23262d;
			opacity: 0.8;

			img {
				@apply w-full rounded-t-md;
			}

			.card-content {
				@apply p-4;
			}
		}
	}
	.link-card:is(:hover, :focus-within) {
		@apply bg-gradient;
	}
	.link-card:is(:hover, :focus-within) h2 {
		@apply text-accent;
	}
	.tags {
		@apply flex flex-wrap gap-2 mt-2;
	}
	.tag {
		@apply px-2 rounded-lg text-sm bg-primary-dark border-accent border-[1px];
	}
</style>
