---
import Icon from "./Icon.astro";
interface Props {
	image: string;
	className?: string;
	title: string;
	body: string;
	tags: string[];
	repoUrl: string;
	demoUrl: string;
}

const { image, className, title, body, tags, repoUrl, demoUrl } = Astro.props;
---

<li class=`flex flex-col list-none text-white rounded-md border-2 border-white hover:bg-gradient ${className || ''}`>
	<img class="w-full rounded-t-md aspect-video" src={image} alt={title} />
	<div class="flex-1 flex flex-col card-content bg-[#23262d] opacity-80 p-4 rounded-b-md">
		<h3 class="m-0 text-xl font-bold">
			{title}
		</h3>
		<p class="my-4 flex-1">
			{body}
		</p>
		<ul class="flex flex-wrap gap-2 mt-2">
			{tags.map((tag) => (
				<li class="px-2 rounded-lg text-sm bg-primary-dark border-accent border-[1px]">{tag}</li>
			))}
		</ul>
		<ul class="links flex justify-end gap-2 mt-2">
			<li>
				<a href={repoUrl} target="_blank">
					<Icon icon="github" />
					<span>código</span>
				</a>
			</li>
			<li>
				<a href={demoUrl} target="_blank">
					<Icon icon="web" />
					<span>demo</span>
				</a>
			</li>
		</ul>
	</div>
</li>
<style>
	.card-content {
		&:hover h3 {
			@apply text-accent;
		}
	}
	.links {
		li {
			@apply py-2 px-2 text-sm bg-accent text-black rounded-lg cursor-pointer hover:bg-accent-dark hover:text-white font-bold;
		}
		a {
			@apply flex items-center gap-2 w-fit;
		}
	}
</style>
