---
import Icon from "../components/Icon.astro";
import type {IconName} from "../types";
interface Props {
	title: string;
}
type SocialLink = {
	name: string;
	href: string;
	icon: IconName;
}

const { title } = Astro.props;
const SOCIAL_LINKS: SocialLink[] = [
		{
			name: 'GitHub',
			href: 'https://github.com/dhAlcojor',
			icon: 'github'
		},
		{
			name: 'Twitter',
			href: 'https://twitter.com/alcojor_dev',
			icon: 'twitter'
		}
	];
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="101 proyectos de Daniel H. Alcojor" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<header class="flex justify-between items-center p-4 text-white">
			<h1 class="w-fit">
				<a class="text-3xl text-primary font-bold border-accent" href="/">101 Proyectos</a>
			</h1>
			<a class="text-accent font-bold border-primary hover:border-b-2 hover:border-dashed" href="/about">Acerca de</a>
		</header>
		<main class="m-auto p-4 max-w-[1200px] text-white">
			<slot />
		</main>
	<footer class="text-center sticky p-4 text-white">
		Creado por <strong>Daniel H. Alcojor</strong>
		<div class="social-links mt-2 flex justify-center gap-2 text-white text-2xl">
			{
				SOCIAL_LINKS.map(({ name, href, icon }, index) => (
					<a class={index % 2 == 0 ? 'text-primary' : 'text-accent'} href={href} target="_blank" title={name}>
						<Icon icon={icon} />
					</a>
				))
			}
		</div>
	</footer>
	</body>
</html>
<style is:global>
	html {
		font-family: "Roboto Light", sans-serif;
		background: #13151a;
	}
	main {
		font-size: 18px;
		line-height: 1.6;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
